body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("header.jpg");
  background-size: cover;
  background-position: center center;
}

.container{
	display: flex;
	text-align: center;
	height: 100vh;
	justify-content: center;
    flex-direction: column;
}


.wrap{
	display: flex;
	height:300px;
	flex-direction: column; 
	flex-wrap: nowrap;
	justify-content: space-between;
}

h1{
	color: white;
	text-align: center;
}

.btn-primary{
	background-color: #f86748;
	border: 0;
	font-size: 12px;
	border-radius: 50px;
	padding: 15px 30px;
	max-width: 200px;
	margin: 0 auto;
}


.btn-primary:hover{
	background-color: #cc3312;
}


